.timer
    @include flex(center, center, column)
    margin: 5vh auto
    width: 95%
    transition: 0.4s ease-in-out
    border-radius: 15px
    @include mq(tablet)
        width: 80%
    @include mq-land(phone)
        margin: 10vh auto 10vh auto
    @include mq-land(tablet)
        width: 80%
        margin: 4vh auto 4vh auto
    .clock__options
        @include flex(center, center, row)
        width: 95%
        @include mq(tablet)
            width: 80%
        .clock__button
            @include clock
            margin-top: 3vh
            background-color: transparent
            color: $white-color-font
            width: 33%
            height: 40px
            font-size: 12px
            @include mq(tablet)
                font-size: 14px
            @include mq-land(tablet)
                font-size: 14px
        .clock__button--active
            background-color: rgba(	51, 51, 51, 0.4)
        .clock__three
            margin-right: 0
    .clock
        @include flex(center, center, row)
        
        margin: 3vh auto
        color: $white-color-font
        font-size: 96px
        font-weight: bold
        @include mq(tablet)
            font-size: 120px
            margin: 1vh auto
        @include mq-land(tablet)
            font-size: 120px
            margin: 1vh auto
        .clock__minutes
            font-family: 'Bebas Neue', cursive
        .clock__seconds
            font-family: 'Bebas Neue', cursive
    .button__reset--wrapper
        @include flex(center, center, row)
        width: 100%
        position: relative
        .clock__start
            @include clock
            width: 50%
            height: 60px
            margin: 3vh auto 
            font-size: 30px
            @include mq(tablet)
                margin: 1vh auto 3vh auto
            @include mq-land(phone)
                margin: 20px auto 50px auto
        .reset
            display: none
            opacity: 0.6
            cursor: pointer
            position: absolute
            right: 10%
            @include mq(tablet)
                bottom: 40%
            &:hover
                opacity: 1
            .reset__icon
                color: $white-color-font
                font-size: 34px
                @include mq(tablet)
                    font-size: 44px
        .reset--visible
                display: block
        .clock__start--orange
            color: $orange-color-lighter
        .clock__start--blue
            color: $blue-color-lighter
        .clock__start--green
            color: $green-color-lighter
.timer--orange
    background-color: $orange-color-lighter
.timer--green
    background-color: $green-color-lighter
.timer--blue
    background-color: $blue-color-lighter